@use "variables" as *;

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding-top: clamp(60px, 20vh, 100px);
  background: $backgroundContent;
  flex-grow: 1;

  a:not(.img-fullscreen-link) {
    transition: filter 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: inset 0 -2px $linkColorAlt;
    color: $textColor;

    &:hover {
      filter: brightness(120%);
    }
  }

}

.post-list h1 {
  margin-bottom: 2em;
  font-size: 2.125rem;
}

.post .back {
  font-size: 0.8rem;
  transition: opacity .3s cubic-bezier(.25, 1, .5, 1);
  opacity: 0.5;

  margin-bottom: 2em;

  &:hover {
    opacity: 1;
  }
}

article {
  &:not(:last-of-type) {
    border-bottom: 1px solid #333;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  > header {
    h1 {
      margin: 0.1em 0;
      font-size: 2.125rem;
    }

    h2 {
      margin: 0.2em 0;
      font-size: 1.5rem;
    }

    > span {
      opacity: 0.7;
    }
  }

  > div {
    margin-top: 1rem;
    text-align: justify;

    font-size: 1.125rem;

    @at-root {
      .post & {
        margin-top: 5rem;
        margin-bottom: 10rem;
      }
    }

    > nav {
      font-weight: 500;
      opacity: 0.8;
      font-size: 1rem;
    }

    figure {
      text-align: center;

      img {
        max-width: 100%;
      }

      figcaption {
        opacity: 0.7;
        font-size: 0.8em;
        font-style: italic;
      }
    }

    > p > img {
      margin: auto;
      display: block;
      max-width: 100%;
    }
  }
}

.paginator {
  margin-top: 5rem;
  opacity: 0.9;

  font-weight: 500;
}

.table-of-contents {
  margin-top: -2rem;
  margin-bottom: 5rem;
}
