@use "variables" as *;
@use "mixins";

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;

  scroll-behavior: smooth;
  scroll-padding-top: $navbarHeight;
}

body {
  margin: 0;

  background: $background;
  color: $textColor;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

p {
  margin: 0 0 1.45rem;
  padding: 0;
}

a {
  color: $linkColor;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 24px;
  padding: clamp(8px, 10%, 24px);
  margin: auto;
}

.button {
  padding: 4px 5px;
  font-size: 0.8125rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: inherit;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &--big {
    @extend .button;

    font-size: 0.875rem;
    padding: 8px 8px;
  }
}

.icon-button {
  @extend .button;
  padding: 12px;
  border-radius: 50%;
  font-size: 1.5rem;

  background: none;
  border: none;
  line-height: unset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  min-width: unset;
  cursor: pointer;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
  }
}

body > header > nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  min-height: $navbarHeight;

  transition: all 250ms;

  &.navbar--sticky {
    background: $background;
    @include mixins.box-shadow;
  }

  > div:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  @media (max-width: 599px) {
    > div:last-child {
      display: none;
    }
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0;

    a {
      color: inherit;
    }
  }
}

@media (min-width: 600px) {
  #drawer-open {
    display: none;
  }
}

#navbar-drawer {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  max-width: unset;
  max-height: unset;

  background: $background;
  color: $textColor;

  .navbar-drawer-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

footer {
  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  a {
    color: $linkColorAlt;
  }

  h2 {
    margin: .82rem 0 .656rem 0;
    font-size: 1.45rem;
    font-weight: 400;
    line-height: 110%;
  }

  .footer-sections {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
  }

  .footer-section {
    flex-grow: 1;
  }

  .copyright {
    background: rgba(0, 0, 0, 0.3);

    p {
      margin: 0;
    }

    .container {
      padding-top: 8px;
      padding-bottom: 8px;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
      gap: 1em;

      .copyright-text {
        font-weight: 300;
        font-size: 0.80rem;
      }
    }
  }
}
