{%- macro particles_script() %}
<script>
  function setupParticlesBackground() {
    tsParticles.load("tsparticles", {
      particles: {
        links: {
          enable: true,
          distance: 100,
          opacity: 0.5,
        },
        number: {
          density: {
            enable: true,
            value_area: 800,
          },
          // value: mobile ? 30 : 55,
          value: 55,
        },
        size: {
          value: 3,
        },
        move: {
          direction: 'none',
          enable: true,
          outMode: 'bounce',
          random: false,
          speed: 2,
          straight: false,
        },
        opacity: {
          value: 0.5,
        },
      },
      interactivity: {
        detectsOn: 'window',
        events: {
          onhover: {
            enable: true,
            mode: 'bubble',
            parallax: {
              enable: true,
              force: 100,
              smooth: 10,
            },
          },
        },
        modes: {
          bubble: {
            distance: 250,
            duration: 2,
            opacity: 1,
            size: 6,
          },
        },
      },
      retina_detect: true,
    });
  }
</script>

<script
  src="https://cdn.jsdelivr.net/npm/tsparticles-slim@2.12.0/tsparticles.slim.bundle.min.js"
  integrity="sha256-W2AjOoDjCyoLXEoNDUMeWvtFGg1ovxj+zRVGhP8GdDs="
  crossorigin="anonymous"
  async
  defer
  onload="setupParticlesBackground()"
></script>
{%- endmacro %}

{%- macro particles_dom( style ) %}
<div id="tsparticles" style="{{ style | default(value='') }}"></div>
{%- endmacro %}
