<figure>
  {%- if path is matching("^http[s]?://") or path is matching("\.gif$") -%}
  <img src="{{ path }}" alt="{{ caption | default(value='') }}" loading="lazy" decoding="async" />
  {%- else -%}
  {%- set meta = get_image_metadata(path=page.colocated_path ~ path) -%}
  {%- set final_width = width | default(value=meta.width) -%}
  {%- set final_height = height | default(value=meta.height) -%}
  {%- set resized = resize_image(path=page.colocated_path ~ path, width=final_width, height=final_height, op="fit", format="webp") -%}
  {%- set srcset = resized.url ~ " " ~ final_width ~ "w" -%}

  {%- for size in range(start=100, end=meta.width, step_by=100) -%}
    {%- set resized = resize_image(path=page.colocated_path ~ path, width=size, height=final_height, op="fit", format="webp") -%}
    {%- set_global srcset = resized.url ~ " " ~ size ~ "w ," ~ srcset -%}
  {%- endfor -%}
  <a href="{{ path }}" class="img-fullscreen-link" target="_blank">
    <img
      src="{{ path }}"
      srcset="{{ srcset }}"
      alt="{{ caption | default(value='') }}"
      width="{{ resized.width }}"
      loading="lazy"
      decoding="async"
    />
  </a>
  {%- endif -%}
  {%- if caption -%}
  <figcaption>{{ caption }}</figcaption>
  {%- endif -%}
</figure>
