html {
    font-size: 18px;

    scroll-behavior: smooth;


    --background-color: #1b1b1b;
    --background-color-darker: #121212;
    --text-color: #fff;

    --chip-background-color: rgba(97, 97, 97, 0.9);
    --chip-text-color: #fff;

    --accent-color: #00acff;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.container {
  width: clamp(0px, 100%, 1200px);

  padding-left: 1rem;
  padding-right: 1rem;

  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
