{%- import 'macros/seo.html' as macros_seo %}
{%- import 'macros/navbar.html' as macros_navbar %}
<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {%- block head %}
    {%- include "partials/head.html" %}
    {%- block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Nunito&amp;display=swap" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ get_url(path='/common.css', trailing_slash=false, cachebust=true) }}" />
    {%- endblock stylesheets %}
    {%- endblock head %}
  </head>
  <body>
    <header>
      {{- macros_navbar::navbar_dom() }}
    </header>
    <main id="top">
      {%- block content %}
      {%- endblock content %}
    </main>
    <footer>
      <div class="container footer-sections">
        <div class="footer-section">
          <h2>Contact me</h2>
          <ul>
            {% for social in config.extra.footer.socials %}
              <li>
                <span class="social-label">{{ social.label }}: </span>
                <a
                  href="{{ social.link }}"
                  target="_blank"
                  rel="me noopener"
                  data-umami-event="{{ social.name }}-social-footer"
                >
                  {{ social.value }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-section">
          <h2>Site map</h2>
          <ul>
            {%- for link in config.extra.links %}
            {%- if link.path is matching("^http[s]?://") %}
            {%- set href = link.path %}
            {%- else %}
            {%- set href = get_url(path=link.path) %}
            {%- endif %}
            <li><a href="{{ href }}">{{ link.name }}</a></li>
            {%- endfor %}
          </ul>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p class="copyright-text">&copy; 2017-{{ now() | date(format="%Y") }} Diogo Torres Correia</p>
          <p>
            <a
              href="{{ config.extra.footer.source_code }}"
              target="_blank"
              rel="noopener"
              data-umami-event="source-code-footer"
            >
              Website Source Code
            </a>
          </p>
        </div>
      </div>
    </footer>
    {%- block scripts %}
    {{- macros_navbar::navbar_script() }}
    <script
      async
      defer
      data-website-id="25c8aedf-a960-4b55-8c70-7bc4b2ad587b"
      src="https://umami.diogotc.com/hellothere.js"
      data-domains="diogotc.com,www.diogotc.com"
    ></script>
    {%- endblock scripts %}
  </body>
</html>
